# Python
backend/venv/
backend/__pycache__/
backend/.pytest_cache/
backend/*.db
backend/.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# GitHub Initialized README
README.md
